# Виртуальное окружение
venv/

# Файлы кэша Python
__pycache__/
*.pyc
*.pyo

# Логи и временные файлы
*.mov
*.log
*.sqlite3
*.db
# Игнорируем конфиг с токеном
config.py
# Конфиденциальные данные
.env
config.json

# Настройки IDE
.vscode/
.idea/
/bot/handlers/media/
